.container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    .box{
        margin: $spazio50 auto;
        width: 30%;
        background-color: $bgnero;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $spazio20;
        color: #fff;
        .poster img{
            width: 250px;
        }
        h3{
            padding: $spazio10 0;
        }
        p{
            color: lightgrey;
        }
    }
}
