$generalbgc: #121212;
$bgnero: #090909;

// padding e margin

$spazio10: 10px;
$spazio20: 20px;
$spazio30: 30px;
$spazio40: 40px;
$spazio50: 50px;
$spazio60: 60px;
$spazio70: 70px;
$spazio80: 80px;
$spazio90: 90px;
$spazio100: 100px;
